<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ONGym_About us</title>
    <link
      rel="icon"
      href="assets/images/man_body_logo.png"
      type="image/jpg"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
  </head>
  <body>
    <div id="header-holder" class="innerpage">
      <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
          <div class="container container-nav">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <button
                    aria-expanded="false"
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs"
                  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://localhost:8888/trangchu"
                    ><img src="assets/images/logo_main.png" alt="Hustbee"
                  /></a>
                </div>
                <div
                  style="height: 1px"
                  role="main"
                  aria-expanded="false"
                  class="navbar-collapse collapse navbar-collapse-centered"
                  id="bs"
                >
                  <ul class="nav navbar-nav navbar-nav-centered">
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:8888/trangchu">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:8888/vechungtoi">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:8888/khoidong">Khởi động</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:8888/main">Tập luyện</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="top-content" class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title">Về chúng tôi</div>
              <div class="page-subtitle">
                Mong muốn giúp mọi người cải thiện sức khoẻ và không còn nhàm
                chán khi tập một mình!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-photo-sc container-fluid blue-bg">
      <div class="row">
        <div class="col-md-6 photo-holder photo1"></div>
        <div class="col-md-6 text-holder text1">
          <div class="text-box">
            <h4>Câu chuyện của chúng tôi</h4>
            <p>
              Sản phẩm này là được tạo nên từ cảm hứng có từ thực tế, đó là việc
              lười vận động. Một ngày nọ, tôi quyết tâm tập luyện. Thế là tôi
              bắt đầu tập dần, ngày nào cũng tập, từ tập nhẹ tới tập nặng và quả
              thực, cơ thể tôi thay đổi: nhanh nhẹn hơn, khoẻ mạnh hơn, đầu óc
              cũng thoải mái hơn và không bị cáu gắt hay bực tức khi gặp vấn đề
              khó giải quyết.
            </p>

            <p>
              Tuy nhiên cũng có một vấn đề khi tập luyện: tập một mình rất chán.
              “Chà, giá như có ai đó tập cùng, thêm một chút nhạc thì hết nước
              chấm nhỉ?”, tôi đã nghĩ như vậy và “bùm”, ý tưởng nảy ra trong
              đầu.
            </p>

            <p>
              Ngay sau đó là một chuỗi ngày tạo ra sản phẩm này, một sản phẩm
              tạo ra từ cảm hứng ngẫu nhiên nhưng rất thiết thực trong thời đại
              4.0 và nhất là thời đại dịch bệnh như bây giờ.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-photo-sc container-fluid darkblue-bg">
      <div class="row rtl-row">
        <div class="col-md-6 photo-holder photo2"></div>
        <div class="col-md-6 text-holder text2 opposite">
          <div class="text-box">
            <h4>Vì một cộng đồng khoẻ mạnh</h4>
            <p>
              Sản phẩm sử dụng công nghệ posenet của thư viện tensorflow để
              tracking cử động của người dùng
            </p>

            <p>
              Việc tập luyện tại nhà sẽ trở nên dễ dàng hơn bao giờ hết, ngoài
              ra bạn còn được tập với những người bạn của mình, từ đó tránh được
              cảm giác nhàm chán khi tập luyện.
            </p>

            <p>
              Phát minh này là một bước tiến lớn trong thời đại nhà nhà ai cũng
              có một thiết bị truy cập internet. Đây sẽ là một phát minh thay
              đổi việc tập luyện của chúng ta.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="services container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row-title">Những người sáng tạo</div>
            <div class="row-subtitle">
              Chúng tôi, những bạn trẻ mang trong mình ngọn lửa của nhiệt huyết
              tuổi trẻ, mong muốn mang đến cho cuộc sống này những thứ hữu ích
              và giúp đỡ xã hội đi lên. Vì vậy sản phẩm này là minh chứng cho
              ngọn lửa đó và mong muốn một cuộc sống khoẻ mạnh hơn.
            </div>
          </div>
        </div>

        <div>
          <video
            src="assets/images/Final Render.mp4"
            autoplay
            loop
            muted
            style="width: 100%"
          />
        </div>
      </div>
    </div>

    <!--Phần dưới-->
    <div class="footer container-fluid">
      <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="footer-menu">
              <h4>Chúng tôi</h4>
              <ul>
                <li><a href="about.html">Về chúng tôi</a></li>
                <li><a href="blog.html">Về dự án (TN)</a></li>
                <li><a href="blog.html">Các bài viết (TN)</a></li>
                <li><a href="contact.html">Liên hệ (TN)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="footer-menu">
              <h4>Khởi động</h4>
              <ul>
                <li><a href="#">Khởi động (TN)</a></li>
                <li><a href="#">Các chế độ (TN)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="footer-menu">
              <h4>Tập luyện</h4>
              <ul>
                <li><a href="#">BT cơ bản (TN)</a></li>
                <li><a href="#">BT trung bình (TN)</a></li>
                <li><a href="#">BT nâng cao (TN)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <div class="footer-menu">
              <h4>Hỗ trợ</h4>
              <ul>
                <li><a href="#">#</a></li>
                <li><a href="#">#</a></li>
                <li><a href="#">#</a></li>
                <li><a href="#">#</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="footer-menu custom-footer-menu">
              <h4>Liên hệ với chúng tôi</h4>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/log.v21/"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/log.v_/"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
              <ul>
                <li>Tel: +(84) xx xxxxxx</li>
                <li><a href="#">Nhắn tin ngay</a></li>
                <li><a href="#">Đăng ký thành viên</a></li>
                <li><a href="#">Vị trí của chúng tôi</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sub-footer">
          <div class="row">
            <div class="col-md-6">
              <div class="sub-footer-menu">
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="about.html">Về chúng tôi</a></li>
                  <li><a href="#">Tập luyện</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="copyright">
                © Copyright 2022 ONGym, All Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
